:root {
  --mainGreen: #49a544;
  --mainGray: rgb(236, 232, 220);
  --mainWhite: #fff;
  --mainDark: #222;
}
body {
  background: var(--mainWhite);
  color: var(--mainDark);
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}
@import url("https://fonts.googleapis.com/css?family=Pacifico&display=swap");
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Pacifico", cursive !important;
  letter-spacing: 4px !important;
  text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.8);
}

.text-green {
  color: var(--mainGreen);
}
.cart-icon {
  cursor: pointer;
  color: var(--mainGreen);
  font-size: 2rem;
}
.default-background {
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    rgba(208, 240, 192, 0.2),
    rgba(208, 240, 192, 0.2)
  );
  background-position: center;
  background-size: cover;
  opacity: 1 !important;
}
