:root {
  --mainGreen: #49a544;
  --mainGray: #808080;
  --mainLightGray: #dcdcdc;
  --mainWhite: #fff;
  --mainDark: #222;
}
body {
  background: var(--mainWhite);
  color: var(--mainDark);
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}
@import url("https://fonts.googleapis.com/css?family=Pacifico&display=swap");
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Pacifico", cursive !important;
  letter-spacing: 4px !important;
}

.text-green {
  color: var(--mainGreen);
}
.cart-icon {
  cursor: pointer;
  color: var(--mainGreen);
  font-size: 2rem;
}
.default-background,
.about {
  min-height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    to right,
    rgba(58, 28, 113, 0.3),
    rgba(215, 109, 119, 0.3),
    rgba(255, 175, 123, 0.3)
  );
  background-position: center;
  background-size: cover;
  opacity: 1 !important;
}
.about {
  min-height: 50vh;
}
.btn-green {
  color: var(--mainGreen);
  border-color: var(--mainGreen);
}
.btn-green:hover {
  background: var(--mainGreen);
  color: var(--mainDark);
}
.menu,
.contact {
  background: var(--mainLightGray);
}
.cartText {
}
